.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d2538;
    color: #fff;
    padding: 20px;
  }
  
  .logo a {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }

  .logo a:hover {
    font-size: 30px;
    font-weight: 800;
    text-shadow: 0 0 10px #fff;
  }
  
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  .menu a:hover {
    text-decoration: underline;
    transform: scale(1.2);
    box-shadow: 0 0 10px rgb(255, 255, 255);
  }
  
  @media screen and (max-width: 768px) {
    .menu {
      display: none;
    }
  
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .logo {
      margin-bottom: 20px;
    }
  
    .toggle-menu {
      cursor: pointer;
      font-size: 20px;
      color: #fff;
      margin-left: auto;
    }
  
    .menu-mobile {
      display: none;
      margin-top: 20px;
    }
  
    .menu-mobile a {
      display: block;
      color: #fff;
      font-size: 18px;
      margin-bottom: 10px;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
    }
  
    .menu-mobile a:hover {
      transform: scale(1.1);
    }
  
    .show-menu {
      display: block;
    }
  }
  