/* Set the background color to navy blue */
body {
    background-color: #1a1c20;
  }
  
  /* Set the color for the heading and text to white */
  h1,
  h2,
  h3,
  p {
    color: #fff;
  }
  
  /* Style for the hero section */
  .hero {
    background-image: url("https://static.wixstatic.com/media/f6b54b_ea5f2908debd4fdfb85beb88f6f953e7~mv2_d_2048_1365_s_2.jpg/v1/fill/w_979,h_653,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/IMG_4344.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-content {
    text-align: center;
  }
  
  .hero-content h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  
  .hero-content p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
  
  /* Style for the features section */
  .features {
    padding: 1rem 0;
    text-align: center;
  }

  .features h2{
      padding: 1rem;
      font-size: 2rem;
      text-decoration: underline;
  }
  
  .feature-item {
    margin-bottom: 2rem;
    padding: 1rem;
  }
  
  .feature-item h3, h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .feature-item p {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
  
  /* Style for the about section */
  .about {
    padding: 2rem 0;
  }
  .about h2 {
    text-decoration: underline;
    font-size: 2rem;
  }

  .about p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  /* Style for the contact section */
  .contact {
    padding: 2rem 0;
  }
  
  .contact label {
    font-size: 0.95rem;
    margin-bottom: 1rem;
  }

  .contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-decoration: underline;
  }
  
  .contact input,
  .contact textarea {
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .contact button {
    height: 40px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .contact label {
    color: white;
  }
  
  
  /* Style for the footer section */
  footer {
    background-color: #141618;
    color: #fff;
    padding: 1rem 1;
    text-align: center;
  }
  
  footer p {
    font-size: 1rem;
  }
  