/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* Container styles */
#Login-form {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Logo styles */
#logo {
    width: 200px;
    margin-bottom: 30px;
}

/* Heading styles */
h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="email"],
input[type="password"] {
    height: 40px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

button {
    height: 40px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0062cc;
}

button:active {
    background-color: #005cbf;
}
